.pic-main {
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 110px;
}

.pic-alt {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic-main div img {
    height: 500px;
    border-radius: 50% 0;
}

.text {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: rgba(5, 135, 248, 0.126);
    border-radius: 25px;
    padding: 20px;
    color: aliceblue;
    margin-right: 50px;
}
.big-text {
    width: 100%;
    font-size: 4.4em;
}

.small-text {
    width: 100%;
    font-size: 2em;
}